.chicken-detail-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
}

.chicken-detail-container:hover {
    /* 
    translateY = 세로로 움직임
    -숫자px 위로 움직임
    +숫자px 아래로 움직임

    translateX = 가로로 움직임
    -숫자px 왼쪽로 움직임
    +숫자px 오른쪽로 움직임

    translateZ = 3D형태의 움직임
    주로 rotateX(50deg) rotateY(50deg)과 사용

    transform 변화를 준다
    transform : 여러 기능을 작성할 때 띄어쓰기로 작성
    */
    transform: translateZ(80px) rotateX(50deg) rotateZ(30deg);
    /*transform: translateY(80px) translateX(80px);*/
}

.chicken-detail-container h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.chicken-detail-container p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.5; /* line 별로 세로 간격 조정 */
    margin: 10px 0;
}