<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.mapper.ProfileMapper">
	<select id="getProfile" resultType="com.kh.dto.Profile">
		SELECT * FROM user_profiles
	</select>
	
	<insert id="insertProfile" parameterType="com.kh.dto.Profile">
		INSERT INTO user_profiles (username, profile_image_url)
		VAULES (#{userName}, #{profileImageUrl})
	</insert>
</mapper>